.customers {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    // background-color: #ddd;

    .customers-title {
        width: 100%;
        margin: 0 auto;
        padding: 18px 32px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 50px;
        border: 1px solid #ddd;
        border-radius: 10px 10px 0 0;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;

        .id {
            width: 40px;
        }

        .name {
            width: 120px;
            color: black;
        }

        .address {
            width: 120px;
            color: rgb(70, 69, 69);
        }

        .tel {
            width: 120px;
            color: rgb(70, 69, 69);
        }

        .price {
            width: 141px;
            text-align: center;
            color: rgb(70, 69, 69);
        }

        .more {
            width: 111px;
            text-align: center;
            color: rgb(70, 69, 69);
        }

        .btns {
            width: 150px;
            text-align: center;
            color: rgb(70, 69, 69);
            // background-color: aqua;
        }
    }

    .customers-ul {
        width: 100%;
        margin: 0 auto;

        .customers-ul-li {
            width: 100%;
            height: 100%;
            padding: 18px 32px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: start;
            font-weight: 600;
            gap: 50px;
            border: 1px solid #ddd;

            .id {
                width: 40px;
            }

            .name {
                width: 120px;
                word-break: keep-all;
                color: black;
                // background-color: aqua;
            }

            .address {
                width: 120px;
                word-break: keep-all;
                color: rgb(70, 69, 69);
                // background-color: aqua;
            }

            .tel {
                width: 120px;
                word-break: break-all;
                // background-color: aqua;
                // color: rgb(255, 0, 255);
            }

            .price {
                width: 141px;
                color: white;

                span {
                    width: 100%;
                    margin: 0 auto;
                    padding: 3px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    font-weight: 700;
                    font-size: 16px;
                    color: black;
                    border-radius: 4px;
                }

                .red {
                    background-color: #f09d95;
                }

                .green {
                    background-color: #88eedf;
                }

                .orange {
                    background-color: rgb(230, 196, 133);
                }
            }

            .more {
                width: 111px;

                span {
                    cursor: pointer;
                    width: 80px;
                    margin: 0 auto;
                    padding: 3px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                    border-color: #6226EF;
                    background-color: #6226EF;
                }
            }

            .btns {
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                // background-color: aqua;

                .edit {
                    width: 26px;
                    height: 26px;
                    padding: 3px 5px;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                }

                .delete {
                    width: 26px;
                    height: 26px;
                    padding: 3px 5px;
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                }

                span {
                    cursor: pointer;
                    width: 80px;
                    margin: 0 auto;
                    padding: 3px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    color: white;
                    font-weight: 600;
                    font-size: 16px;
                    border-color: #4880FF;
                    background-color: #4880FF;
                }
            }
        }
    }
}

.update-form {
    max-width: 660px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: transparent;

    .create-label {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        font-family: Roboto;
        font-weight: 600;
        background-color: white;
        gap: 15px;
    }

    .create-input {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        background-color: white;
        border-radius: 5px;
        border: 0;
        border-bottom: 2px solid blue;
    }

    .update-btn {
        width: 300px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        border: 0;
        border-top: 2px solid blue;
        border-bottom: 2px solid blue;
        background-color: aqua;
    }
}

// pin
.id {
    position: relative;

    .pin {
        left: 0;
        position: absolute;
        padding: 4px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: transparent;
        transform: translate(-105%, -60%);
    }
}

// pagination 
.stack {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}